.popular {
    width: 100%;
    height: auto;

    .popular_top_gr {
        margin-bottom: 48px;
        width: 100%;

        .popular_top_gr_box {
            @include flex();
            justify-content: space-between;
            margin-bottom: 12px;

            .popular_top_gr_box_text {
                @include text_big();
            }

            .popular_top_gr_box_icons {
                @include flex();
                gap: 8px;

                .arrow_icons {
                    @include flex();
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: .3s;
                    border: 1px solid transparent;

                    &:hover {
                        transition: .3s;
                        border-color: $border-col;
                    }
                }
            }
        }

        .popular_top_gr_box_for_text {
            @include text_midl();
            color: $main-col;
        }
    }

    .popular_center_box {
        @include flex();
        max-width: 1120px;
        width: 100%;
        height: auto;
        overflow-x: auto;
        justify-content: start;
        padding: 20px 0px;
        margin-bottom: 40px;

        .popular_center_box_child {
            max-width: 336px;
            min-width: 336px;
            min-height: 337px;

            .card_img {
                max-width: 336px;
                height: auto;
                margin-bottom: 21px;
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                cursor: pointer;

                .card_images {
                    width: 100%;
                    height: 100%;
                    transition: .5s;
                }

                .card__box {
                    position: absolute;
                    top: -100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: .5s;
                    background: #0000006f;
                    z-index: 1;
                }

                &:hover .card__box {
                    top: 0%;
                    transition: .5s;
                }

                &:hover .card_images {
                    transform: scale(1.1);
                    transition: .5s;
                }
            }

            .paris_text {
                @include text_midl();
                margin-bottom: 8px
            }

            .car_text {
                @include text_small();
            }
        }

    }

    .popular_btn {
        @include button();
        @include flex();
        gap: 10px;
    }
}


@media (max-width: 850px) {
    .popular {
        margin-top: 100px;
    }
}

@media (max-width: 580px) {
    .popular {
        .popular_top_gr {
            .popular_top_gr_box {
                .popular_top_gr_box_text {
                    font-size: 18px;
                    line-height: 21px;
                }
            }

            .popular_top_gr_box_for_text {
                font-size: 16px;
            }
        }

        .popular_center_box {
            justify-content: start;

            .popular_center_box_child {
                min-width: 290px;
            }
        }
    }
}